# 這是註解
*.bak
*.log 
*.old
 
# 如果你想忽略壓縮檔或一些大檔案
*.7z
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

/FullSource/exe
/FullSource/Project/WebCtrl/exe
/FullSource/Project/WebCtrl_flash/exe
/FullSource/Project/WebCtrl_flash_1M/exe
/FullSource/Project/WebCtrl_flash_2M/exe
